.header {
    position: fixed;
    z-index: 100;
    width: 100vw;
    
}

.header-nav {
    box-shadow: 1px 1px 3px lightgray;
    &-logo {
        width: 140px;
    }
    &-links {
        color: #4A4A4A;
        font-weight: 700;
        padding: 0 10px;
        &:hover {
            color: #C3A91B;
            text-decoration: none;
        }
    }
}


// .responsive {
//     width: 100%;
//     height: auto;
// }