@import "~bootstrap/scss/bootstrap";

html, body {
  margin: 0;
  overflow-x: hidden;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 98px;
  &-top-content {
    display: flex;
    &-carousel {
      width: 50%;
      & img {
        filter: brightness(80%);
      }
      & p {
        font-size: 1.5rem;
      }
    }
    &-products {
      display: flex;
      justify-content: space-between;
      margin: auto;
      padding: 80px 0;
      width: 50%;
    }
  }
  &-middle-content {
    padding: 50px 0;
    &-awards {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      margin: auto;
    }
    &-products {
      display: none;
    }
    &-description {
      text-align: center;
      width: 50%;
      margin: auto;
      padding: 40px 0;
      & h2 {
        font-family: "Libre Baskerville";
        font-style: italic;
      }
      &-body {
        width: 80%;
        margin: auto;
      }
      &-cotswolds {
        box-shadow: 1px 1px 6px 1px lightgray
      }
    }
  }
}

.spacer {
  width: 100px;
}


a {
  transition: transform .5s;
  &:hover {
    transform: scale(1.05, 1.05);
  }
}

.responsive {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1300px) {
  .main-body {
    &-middle-content {
      &-description {
        width: 55%;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .main-body {
    &-top-content {
      &-carousel {
        width: 100%;
      }
      &-products {
        display: none;
      }
    }
    &-middle-content {
      &-products {
        display: flex;
        padding: 30px 0;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .main-body {
    &-middle-content {
      &-awards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
      }
      &-description {
        width: 60%;
      }
      &-products {
        display: flex;

      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-body {
    &-top-content {
      &-carousel {
        & h1 {
          font-size: 2rem;
        }
        & p {
          font-size: 1.125rem;
        }
      }
    }
    &-middle-content {
      &-description {
        width: 70%;
        padding: 80 0px;
        & h2 {
          font-size: 1.5rem;
        }
        &-body {
          width: 90%;
        }
      }
      &-products {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  .main-body {
    &-top-content {
      &-carousel {
        & h1 {
          font-size: 1.5rem;
        }
        & p {
          font-size: 1rem;
        }
      }
    }
  }
}
