.products {
    padding-top: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    &-page-wrapper {
        padding: 96px 15%;
        & h4 {
            font-family: Raleway;
            text-shadow: .5px 1px darkslategray;
        }
        &-heading {
            text-align: center;
            font-family: "Libre Baskerville";
            font-style: italic;
            font-size: 45px;
            padding: 0 10%;
        }
        &-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
        }
        &-awards {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 700px) {
    .products {
        &-page-wrapper {
            padding: 76px 0;
            &-heading {
                font-size: 38px;
            }
            &-content {
                padding: 30px 45px;
                grid-template-columns: 1fr;
            }
            &-awards {
                padding: 10px 0;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 10px;
            }
        }
    }
}